<div class="modal-header">
    <h4 class="modal-title">Suppresion</h4>
</div>
<div class="modal-body">
    <div id="modal-body-content">Etes vous sur de vouloir supprimer : {{ name }}</div>
</div>
<div class="modal-footer">
    <button data-href="{{ url }}" name="submit"  class="btn btn-success modal-submit">Valider</button>
    <button id="modal-close" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
</div>