{{ form_start(form) }}
<div class="modal-header">
    <h4 class="modal-title">Nouveau Tag</h4>
</div>
<div class="modal-body">
    {{ form_widget(form) }}
</div>
<div class="modal-footer">
    <button id="submit" name="submit" class="btn btn-success">Valider</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
</div>
{{ form_end(form) }}